In [2]:
import random
tabla=[]
min=1
max=6
for r in range(3):
	tabla.append([])
	for t in range(5):
		tabla[r].append(random.randint(min,max))

In [3]:
for k in range(3):
	print(tabla[k])

for r in range(3):
	tabla[r].append(0)
	for t in range(5):
		tabla[r][5]=tabla[r][5]+tabla[r][t]

[3, 2, 1, 6, 5]
[6, 5, 5, 2, 5]
[4, 1, 2, 4, 4]

In [9]:
vez=[0,0,0]
for r in range(3):
    for t in range(5):
            if tabla[r][t]==6:
                    vez[r]=vez[r]+1

In [10]:
for r in range(3):
	if(vez[r]==1):
		print("El jugador", r+1,"obtuvo 6",vez[r],"vez.")
	elif(vez[r]>=2):
		print("El jugador", r+1, "obtuvo 6", vez[r], "veces.")
	elif(vez[r]==0):
		print("El jugador", r+1,"no obtuvo 6")
	print("Su suma de puntos fue:",tabla[r][5],".")
	print()

El jugador 1 obtuvo 6 1 vez.
Su suma de puntos fue: 17 .

El jugador 2 obtuvo 6 1 vez.
Su suma de puntos fue: 23 .

El jugador 3 no obtuvo 6
Su suma de puntos fue: 15 .

In [12]:
def factorial(n):
    fact=1
    for k in range(2,n+1):
            fact=fact*k
    return fact

numero=int(input("Dame un número entero: \n"))
factor=factorial(numero)
print("El factorial del número", numero, "es", factor)

Dame un número entero:
5
El factorial del número 5 es 120

In [15]:
import random
x=random.random()
x2=random.randint(1,4)
for k in range(10):
    x=random.random()*(76-10)+10
    print(x)

44.7435030665022
67.88755458690866
37.834686104075175
73.08989314414563
21.716894133544933
42.87215090983587
36.80763150772528
69.69180102330108
13.75677651198646
68.54485723476998

In [16]:
for i in range(10):
    x=random.randint(10,76)
    print(x)

16
64
44
73
22
62
38
26
14
31

In [26]:
def mayor(n,x):
    mayor=0
    for k in range(n):
        if x[k]>mayor:
            mayor=x[k]
    return mayor

In [51]:
x=[1,2,3,4,7]
print(x)

[1, 2, 3, 4, 7]

In [52]:
mayor(5,x)

7

In [30]:
def promedio(n,x):
    suma=0
    for k in range(n):
        suma=suma+x[k]
        promedio=suma/n
    return promedio

In [43]:
semana=["lunes","martes","miercoles","jueves","viernes"]
moneda=[[],[]]
for k in range(2):
    for dia in range(5):
        if k==0:
            print("Cotizacion del dolar del dia \n",dia+1)
            float(input())
            moneda[k]+=[float(input())]
        else:
            print("Cotizacion del euro del dia \n",dia+1)
            float(input())
            moneda[k]+=[float(input())]

Cotizacion del dolar del dia
 1
0
3210
Cotizacion del dolar del dia
 2
0
3078
Cotizacion del dolar del dia
 3
0
2948
Cotizacion del dolar del dia
 4
0
3125
Cotizacion del dolar del dia
 5
0
3123
Cotizacion del euro del dia
 1
0
3600
Cotizacion del euro del dia
 2
0
3865
Cotizacion del euro del dia
 3
0
3854
Cotizacion del euro del dia
 4
0
3900
Cotizacion del euro del dia
 5
0
4029

In [44]:
moneda

[[3210.0, 3078.0, 2948.0, 3125.0, 3123.0],
 [3600.0, 3865.0, 3854.0, 3900.0, 4029.0]]

In [49]:
n=5
prom_dol=promedio(n,moneda[0])
prom_euro=promedio(n,moneda[1])
max_dol=mayor(n,moneda[0])
max_euro=mayor(n,moneda[1])
print(prom_dol)
print(prom_euro)
print(max_dol)
print(max_euro)

3096.8
3849.6
3210.0
4029.0